# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Actividad_1/mavenproject1/target/
/Actividad_1/Actividad_1/target/
/Actividad_1/EjercicioNo_5/target/
/Actividad_1/EjercicioNo_12/target/
/Actividad_1/EjercicioNo_14/target/
/Actividad_1/EjercicioNo_17/target/
/Actividad_2/EjercicioCap3_No_21/target/
/Actividad_2/EjercicioCap4_No_11/target/
/Actividad_2/EjericicioCap4_No_15/target/
/Actividad_2/EjercicioCap4_No_22/target/
/Actividad_3/EjercicioCap3_No18/EjercicioCap3_No18/target/
